* {
	box-sizing: border-box;
}
body {
	background-image: url("../images/bg.png");
	background-attachment: fixed;
	color:$lightGrey;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
	max-width:100%;
}
footer {
	background-image: url("../images/brno.jpg");
	background-attachment: fixed;
}
section {
	width: 1520px;
	margin: auto;
	max-width: 100%;
}
h1, h2, h3 {
	font-weight:800;
	text-transform: uppercase;
}

h1 {
	margin: 0;
	font-size: 72px;
	text-align: center;
	color: white;
}

h2 {
	font-size: 64px;
	color: $blue;
}

h3 {
	font-size: 32px;
	color: $blue;
}

h4 {
	font-size: 32px;
	color: $blue;
}

h5 {
	font-size: 24px;
	color: $blue;
}

h6 {
	font-size: 22px;
	color: $blue;
}

p {
	font-weight:500;
}

a:link, a:visited {
	color:#2BA6CB;
	text-decoration:none;
}

a:hover, a:active {
}
