.menu {
  list-style-type: none;
  margin: 0;
  border-right: 2px solid white;
  padding-right: 20px;

  &__item {
    margin-bottom: 10px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-weight: 600;

      &:hover {
        color: $blue;
      }
    }
  }
}
