.text {
  text-align: center;
  width: 60%;
  margin: auto;
  font-size: 26px;
  font-weight: 500;
  &--white {
    color: white;
  }
  &--blue {
    font-size: 22px;
    color: $blue;
    font-weight: 600;
  }
  &--big {
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    font-weight: 800;
  }
  &--span {
    color: $blue;
    font-weight: 600;
  }
}
